﻿    <body ng-controller="currentDriversController">
      <strong>Filter Driver Number:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>   <br/>
<div>
  <div class="gridStyle" ng-grid="gridOptions"></div>




     
            <h3>Enter Driver Message:</h3><input type="text" ng-model="drivermessage" />
            <button class="btn btn-primary" ng-click="add()">Add to Queue</button>
            <button class="btn btn-primary" ng-click="broadcast()">Broadcast Message</button>
            <h3>Messages Queued</h3>

            <ul>
                <li ng-repeat="msg in messages">{{ msg }} </li>
            </ul>

     
</div>     
 
  </body>
