﻿  <body ng-controller="driversqlcontroller">
      <strong>Filter Driver Number:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>   <br/>
      
<div>
  <div class="gridStyle" ng-grid="gridOptions"></div>




     
            <h3>Enter Driver Message:</h3><input type="text" ng-model="sqlmessage" />
            <button class="btn btn-primary" ng-click="addSql()">Add to Queue</button>
           
            <h3>Sql Injects Queued</h3>

            <ul>
                <li ng-repeat="sql in sqlmessages">{{ sql }} </li>
            </ul>

     
</div>     
 
  </body>
