﻿  <body ng-controller="driverloggingcontroller">
      <strong>Filter Driver Number:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>   <br/>
      
<div>
  <div class="gridStyle" ng-grid="gridOptions"></div>

     
</div>     
 
  </body>
