﻿@model RDMAngular.Model.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>ILogix Driver Management Portal</h2>
 Welcome to Capital Transports' new iLogix Track and Trace solution, some of the new features and those to be released soon are listed below.

Tap the Login link to begin using iLogix.
New Features
Uses new technology to provide information to you much faster
Can be run on common web browsers; your choice
New tracking modules implemented to suit your business model
Upcoming Features
GEO Fence alerts
Additional reporting modules
Client Password reset mechanism enhanced
Demonstration/Training modules
Upgrade to Google Maps 3

We welcome feedback, please contact us about our new site. 


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.RememberMe)
                @Html.LabelFor(u => u.RememberMe)
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}