﻿
<h2>UserFunctions</h2>
<script type="text/javascript" src="~/Scripts/app/app.js"></script>
<script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
  <body data-ng-app="sampleApp">

    <div class="container">
		<div class="row">
		<div class="col-md-3">
		   <ul class="nav">
                <li><a href="#ViewDrivers"> Send Driver Messages </a></li>
				<li><a href="#AddNewOrder"> Add New Driver </a></li>
				<li><a href="#ShowOrders"> Show All Drivers </a></li>
			</ul>
		</div>
		<div class="col-md-9">
		  	<div data-ng-view></div>
		</div>

		</div>

    </div><!-- /.container -->

            @section JavaScript
{
                <script src="@Url.Content("~/Scripts/angular.min.js")" ></script>
  <script src="@Url.Content("~/Scripts/app/app.js")" ></script>
      <script src="@Url.Content("~/Scripts/angular-resource.js")" ></script>

}
	
  </body>

